{% extends "base.html" %}

{% block page_content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">Now Playing</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Overlays
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lowerthird/">Lower Third</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/factcannon/">Fact Cannon</a>
                        </li>
                    </ul>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                {% endif %}
            </ul>
            {% include "user_menu_form.html" %}
        </div>
    </div>
</nav>
<div class="container">
{% block content %}{% endblock %}
</div>
{% endblock %}